html {
    scroll-behavior: smooth !important;
}

.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 24px;
    font-size: 30px;
    text-decoration: none;
    padding: 0px 8px;
    margin: 0px;
    color: black;
    border: 3px solid black;
    border-radius: 50px;
}

.scroll-up:hover {
    font-size: 32px;
    padding: 0px 9px;
    color: black;
}

.collection-header {
    font-family: "Helvetica Neue", Arial Black, sans-serif;
    font-weight: 200px;
    letter-spacing: 2px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: red;
}

.nav-logo {
    margin-top: 15px !important;
}

.nav-contact {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 15px;
}

.nav-contact:hover {
    color: red;
}

.nav-menu {
    margin-top: 15px !important;
}

.search-icon {
    margin-left: -55px;
    border: 1px solid rgb(212, 212, 212) !important;
    border-left: none !important;
    border-style: none;
    height: 100;
    width: 70px;
    border-radius: 5px;
}

body {
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

#sidebar {
    min-height: 100vh;
    background: #f8f9fa;
    transition: all 0.5s;
    margin-left: -250px;
}

#sidebar.collapsed {
    margin-left: 0px;
}

.sidebar-header {
    /* background: #343a40;
    color: white;
    padding: 1rem;
    text-align: center; */
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 4px;
}

.sidebar-link {
    /* padding: 0.75rem 1rem;
    display: block;
    color: #333;
    text-decoration: none; */
    display: block;
    text-decoration: none;
    color: #0F1111;
    margin: 4px 0;
    /* padding: 5px; */
    padding-left: 16px;
}

.sidebar-link:hover {
    background: #e2e6ea;
    color: black;
}

.footer {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgb(30, 30, 30);
    height: auto;
    width: 100%;
}

.email-icon {
    border: none;
    height: 40px;
    width: 50px;
}

.anchor {
    text-decoration: none;
    list-style: none;
}

.footer-logo {
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: white;
}

.footer-logo:hover {
    color: rgb(255, 39, 39);
    font-size: 30px;
}

.todo{
    /* opacity: 0; */
    scale: 0.7;
    transition: 900ms ease;
}

.todo.show{
    /* opacity: 1; */
    scale: 1;
}